.app {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.chat {
    position: relative;
    width: 100%;
    border: 1px solid #fff;
}

.message {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message-label {
    text-transform: uppercase;
    font-size: 0.6rem;
}

.message[data-role="user"] {
    align-items: flex-end;
    background-color: #115;
}

.message[data-role="assistant"] {
    background-color: #000;
}
