.chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.message[data-role="user"] {
    --accent: #f99;
}

.message[data-role="system"] {
    --accent: #9f9;
}

.message[data-role="assistant"] {
    --accent: #99f;
}

.message {
    --label-height: 20px;
    position: relative;
    display: grid;
    grid-template-rows: var(--label-height) 1fr;
    background-color: #222;
}

.message > label {
    position: relative;
    background-color: var(--accent);
    line-height: var(--label-height);
    text-align: left;
    padding: 0 5px;

    color: #000;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
}

.message > div {
    padding: 10px;
    display: grid;
    grid-template-rows: 
}
