*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #000;
    color: #fff;
    font-family: system-ui, sans-serif;
}

input[type="text"], textarea, button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
}

textarea {
    resize: none;
}

button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.label {
    color: #000;
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

button:hover {
    filter: brightness(75%);
}
