:root {
    --color0: #000;
    --color1: #111;
    --text0: #fff;
    --text1: #ccc;
    --timing: 250ms ease;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--color0);
    color: var(--text0);
    font-family: system-ui, sans-serif;
    overscroll-behavior-y: none;
}

input[type="text"], textarea {
    font: inherit;
}

button {
    cursor: pointer;
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}
