.story {
    grid-area: story;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0 100px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 200;
    transition: opacity var(--timing);
}
